section{
    width: 20%;
    height: 100vh;
    padding: 20px 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .End{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60%;
}

section .Logo{
    width: 120px;
    margin-bottom: 40px;
}

section .IconText{
    display: flex;
    flex-direction: row;
}
 
section .IconText img{
    width: 20px;
    height: 20px;
    margin: 12px;
}

.IconText .ProfilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

section .IconText h3{
    margin: 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
